<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Manager Football</title>

    <!-- Mobile Specific Metas
    ================================================== -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Event and Conference Html5 Template">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">
    <meta name="author" content="Themefisher">
    <meta name="generator" content="Themefisher Eventre HTML Template v1.0">

    <!-- theme meta -->
    <meta name="theme-name" content="eventre" />

    <!-- PLUGINS CSS STYLE -->
    <!-- Bootstrap -->
    <link href="~/Assets/plugins/bootstrap/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="~/Assets/plugins/font-awsome/css/font-awesome.min.css" rel="stylesheet">
    <!-- Magnific Popup -->
    <link href="~/Assets/plugins/magnific-popup/magnific-popup.css" rel="stylesheet">
    <!-- Slick Carousel -->
    <link href="~/Assets/plugins/slick/slick.css" rel="stylesheet">
    <link href="~/Assets/plugins/slick/slick-theme.css" rel="stylesheet">
    <!-- CUSTOM CSS -->
    <link href="~/Assets/css/style.css" rel="stylesheet">

    <!-- FAVICON -->
    <link href="~/Assets/images/favicon.png" rel="shortcut icon">

    <style>
        .schedule .schedule-contents .schedule-item li.schedule-details .block div span.name {
            margin: 0 5px;
        }

        .schedule .schedule-contents .schedule-item li.schedule-details .block div span.time {
            margin: 0 5px;
        }
    </style>
</head>

<body class="body-wrapper">
    <!--=============== Navigation Section ===============-->
    <nav class="navbar main-nav border-less fixed-top navbar-expand-lg p-0">
        <div class="container-fluid p-0">
            <!-- logo -->
            <a class="navbar-brand" href="index.html">
                <img src="~/Assets/images/logo_final.png" alt="logo">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="fa fa-bars"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="index.html">Home
                            <span>/</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="fixtures.html">Fixtures
                            <span>/</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="results.html">Results<span>/</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="tables.html">Tables<span>/</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="club.html">Club<span>/</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="stats.html">Stats<span>/</span></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="#!" data-toggle="dropdown">News <i
                                class="fa fa-angle-down"></i><span>/</span>
                        </a>
                        <!-- Dropdown list -->
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="injury-news.html">Injury news</a></li>
                            <li><a class="dropdown-item" href="transfer.html">Transfer</a></li>
                            <li><a class="dropdown-item" href="news.html">News</a></li>
                        </ul>
                    </li>
                </ul>
                <a href="sign_in.html" class="ticket">
                    <span>Login</span>
                </a>
            </div>
        </div>
    </nav>
    <!--==========  End of Navigation Section  ==========-->

    @RenderBody()

    <!--========== Footer ==========-->
    <footer class="footer-main">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block text-center">
                        <div class="footer-logo">
                            <img src="~/Assets/images/logo_preview_rev_1.png" alt="logo" class="img-fluid">
                        </div>
                        <ul class="social-links-footer list-inline">
                            <li class="list-inline-item">
                                <a href="https://www.facebook.com/premierleague"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="https://www.instagram.com/premierleague/"><i class="fa fa-instagram"></i></a>
                            </li>
                            <!-- <li class="list-inline-item">
                                <a href="#"><i class="fa-brands fa-youtube"></i></a>
                            </li> -->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- JAVASCRIPTS -->
    <!-- jQuey -->
    <script src="~/Assets/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/Assets/plugins/bootstrap/bootstrap.min.js"></script>
    <!-- Shuffle -->
    <script src="~/Assets/plugins/shuffle/shuffle.min.js"></script>
    <!-- Magnific Popup -->
    <script src="~/Assets/plugins/magnific-popup/jquery.magnific-popup.min.js"></script>
    <!-- Slick Carousel -->
    <script src="~/Assets/plugins/slick/slick.min.js"></script>
    <!-- SyoTimer -->
    <script src="~/Assets/plugins/syotimer/jquery.syotimer.min.js"></script>
    <!-- Custom Script -->
    <script src="~/Assets/js/script.js"></script>
</body>
</html>