@{
    ViewData["Title"] = "Home Page";
}

<!--======= Fixtures ========-->
<section class="section schedule">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="schedule-contents bg-schedule">
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active schedule-item">
                            <!-- Headings -->
                            <ul class="m-0 p-0">
                                <li class="headings">
                                    <h4>Matchweek</h4>
                                </li>
                                <!-- Match -->
                                <li class="schedule-details">
                                    <h5 style="text-align: center;">23th November</h5>
                                    <a href="#" style="text-align: center;">
                                        <div class="block">
                                            <!-- home -->
                                            <div class="speaker">
                                                <span class="name">Samanta</span>
                                                <img src=""
                                                     alt="home-club">
                                            </div>
                                            <!-- time -->
                                            <div class="time">
                                                <!-- <span class="time">23th November</span> <br> -->
                                                <span class="time">18:30</span>
                                            </div>
                                            <!-- away -->
                                            <div class="speaker">
                                                <img src=""
                                                     alt="away-club">
                                                <span class="name">Samanta</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <!-- Match -->
                                <li class="schedule-details">
                                    <h5 style="text-align: center;">23th November</h5>
                                    <a href="#" style="text-align: center;">
                                        <div class="block">
                                            <!-- home -->
                                            <div class="speaker">
                                                <span class="name">Samanta</span>
                                                <img src=""
                                                     alt="home-club">
                                            </div>
                                            <!-- time -->
                                            <div class="time">
                                                <!-- <span class="time">23th November</span> <br> -->
                                                <span class="time">18:30</span>
                                            </div>
                                            <!-- away -->
                                            <div class="speaker">
                                                <img src=""
                                                     alt="away-club">
                                                <span class="name">Samanta</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <!-- Match -->
                                <li class="schedule-details">
                                    <h5 style="text-align: center;">23th November</h5>
                                    <a href="#" style="text-align: center;">
                                        <div class="block">
                                            <!-- home -->
                                            <div class="speaker">
                                                <span class="name">Samanta</span>
                                                <img src=""
                                                     alt="home-club">
                                            </div>
                                            <!-- time -->
                                            <div class="time">
                                                <!-- <span class="time">23th November</span> <br> -->
                                                <span class="time">18:30</span>
                                            </div>
                                            <!-- away -->
                                            <div class="speaker">
                                                <img src=""
                                                     alt="away-club">
                                                <span class="name">Samanta</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <!-- Match -->
                                <li class="schedule-details">
                                    <h5 style="text-align: center;">23th November</h5>
                                    <a href="#" style="text-align: center;">
                                        <div class="block">
                                            <!-- home -->
                                            <div class="speaker">
                                                <span class="name">Samanta</span>
                                                <img src=""
                                                     alt="home-club">
                                            </div>
                                            <!-- time -->
                                            <div class="time">
                                                <!-- <span class="time">23th November</span> <br> -->
                                                <span class="time">18:30</span>
                                            </div>
                                            <!-- away -->
                                            <div class="speaker">
                                                <img src=""
                                                     alt="away-club">
                                                <span class="name">Samanta</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <!-- Match -->
                                <li class="schedule-details">
                                    <h5 style="text-align: center;">23th November</h5>
                                    <a href="#" style="text-align: center;">
                                        <div class="block">
                                            <!-- home -->
                                            <div class="speaker">
                                                <span class="name">Samanta</span>
                                                <img src=""
                                                     alt="home-club">
                                            </div>
                                            <!-- time -->
                                            <div class="time">
                                                <!-- <span class="time">23th November</span> <br> -->
                                                <span class="time">18:30</span>
                                            </div>
                                            <!-- away -->
                                            <div class="speaker">
                                                <img src=""
                                                     alt="away-club">
                                                <span class="name">Samanta</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <!-- Match -->
                                <li class="schedule-details">
                                    <h5 style="text-align: center;">23th November</h5>
                                    <a href="#" style="text-align: center;">
                                        <div class="block">
                                            <!-- home -->
                                            <div class="speaker">
                                                <span class="name">Samanta</span>
                                                <img src=""
                                                     alt="home-club">
                                            </div>
                                            <!-- time -->
                                            <div class="time">
                                                <!-- <span class="time">23th November</span> <br> -->
                                                <span class="time">18:30</span>
                                            </div>
                                            <!-- away -->
                                            <div class="speaker">
                                                <img src=""
                                                     alt="away-club">
                                                <span class="name">Samanta</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--====================    News Posts    =======================-->
<section class="news section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h3><span class="alternate">Last News</span></h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-8 col-10 m-auto">
                <div class="blog-post">
                    <div class="post-thumb">
                        <a href="news-single.html">
                            <img src="~/Assets/images/news/post-thumb-one.jpg" alt="post-image" class="img-fluid">
                        </a>
                    </div>
                    <div class="post-content">
                        <div class="date">
                            <h4>20<span>May</span></h4>
                        </div>
                        <div class="post-title">
                            <h2><a href="news-single.html">Elementum purus id ultrices.</a></h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-8 col-10 m-auto">
                <div class="blog-post">
                    <div class="post-thumb">
                        <a href="news-single.html">
                            <img src="~/Assets/images/news/post-thumb-two.jpg" alt="post-image" class="img-fluid">
                        </a>
                    </div>
                    <div class="post-content">
                        <div class="date">
                            <h4>20<span>May</span></h4>
                        </div>
                        <div class="post-title">
                            <h2><a href="news-single.html">Elementum purus id ultrices.</a></h2>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 m-md-auto col-sm-8 col-10 m-auto">
                <div class="blog-post">
                    <div class="post-thumb">
                        <a href="news-single.html">
                            <img src="~/Assets/images/news/post-thumb-three.jpg" alt="post-image" class="img-fluid">
                        </a>
                    </div>
                    <div class="post-content">
                        <div class="date">
                            <h4>20<span>May</span></h4>
                        </div>
                        <div class="post-title">
                            <h2><a href="news-single.html">Elementum purus id ultrices.</a></h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>